<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Regresar" color="medium"></ion-back-button>
        </ion-buttons>
        <ion-title color="medium">Apple</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="appl-class">


    <ion-slides pager="true">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="medium">Semana</ion-card-title>
                </ion-card-header>
                <img src="https://lh3.googleusercontent.com/proxy/l41nJZ5lkeZdzCL6Z-TyADif02mIJ_vj6lvC4eyDcro_-AYqa3n1Zmxqd5VmB6_L147C4cYVWyiKaPitgiATyQ7Tbg7FhVojw_iy2ZFPGVGNuk6rL8oXapLyfbkCSpaK">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="medium">Mes</ion-card-title>
                </ion-card-header>
                <img src="https://lh3.googleusercontent.com/proxy/l41nJZ5lkeZdzCL6Z-TyADif02mIJ_vj6lvC4eyDcro_-AYqa3n1Zmxqd5VmB6_L147C4cYVWyiKaPitgiATyQ7Tbg7FhVojw_iy2ZFPGVGNuk6rL8oXapLyfbkCSpaK">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="medium">Año</ion-card-title>
                </ion-card-header>
                <img src="https://lh3.googleusercontent.com/proxy/l41nJZ5lkeZdzCL6Z-TyADif02mIJ_vj6lvC4eyDcro_-AYqa3n1Zmxqd5VmB6_L147C4cYVWyiKaPitgiATyQ7Tbg7FhVojw_iy2ZFPGVGNuk6rL8oXapLyfbkCSpaK">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>