<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Regresar" color="google"></ion-back-button>
        </ion-buttons>
        <ion-title color="google">Google</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="google-class">



    <ion-slides pager="true">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="google">Semana</ion-card-title>
                </ion-card-header>
                <img src="https://dqvh7oj3vu3ch.cloudfront.net/375x,q60/articles/Grafico_Google_semanal_mT5-min.png">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="google">Mes</ion-card-title>
                </ion-card-header>
                <img src="https://dqvh7oj3vu3ch.cloudfront.net/375x,q60/articles/Grafico_Google_semanal_mT5-min.png">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="google">Año</ion-card-title>
                </ion-card-header>
                <img src="https://dqvh7oj3vu3ch.cloudfront.net/375x,q60/articles/Grafico_Google_semanal_mT5-min.png">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>