<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Regresar" color="amazon"></ion-back-button>
        </ion-buttons>
        <ion-title color="amazon">Amazon</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="amz-class">


    <ion-slides pager="true">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="amazon">Semana</ion-card-title>
                </ion-card-header>
                <img src="https://assets.estrategiasdeinversion.net/adjuntos/am/amazon%20decepcion(1).jpg">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="amazon">Mes</ion-card-title>
                </ion-card-header>
                <img src="https://assets.estrategiasdeinversion.net/adjuntos/am/amazon%20decepcion(1).jpg">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="amazon">Año</ion-card-title>
                </ion-card-header>
                <img src="https://assets.estrategiasdeinversion.net/adjuntos/am/amazon%20decepcion(1).jpg">
                <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae maiores error magni voluptas cum numquam sapiente harum explicabo sed? Fuga eius ipsum officia qui rerum cupiditate laborum vel voluptatum!
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>