<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first" color="tertiary"></ion-menu-button>
        </ion-buttons>

        <ion-title color="tertiary">Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item color="amazon" class="ion-padding" routerLink="/amazon">
            <ion-label>Amazon</ion-label>
        </ion-item>
        <ion-item color="google" class="ion-padding" routerLink="/google">
            <ion-label>Google</ion-label>
        </ion-item>
        <ion-item color="medium" class="ion-padding" routerLink="/apple">
            <ion-label>Apple</ion-label>
        </ion-item>
    </ion-list>
</ion-content>